body {
  margin: 0;
  direction: rtl;
}

.editable:empty:before {
  content: attr(data-placeholder);
  color: #999999;
}

a {
  text-decoration: none;
  color:unset;

}
a:visited {
  color: unset;
}


.uni_m_b_small {
  margin-bottom: 1rem;
}